MYSQL_HOST=localhost
MYSQL_USER=woh
MYSQL_PASSWORD=
MYSQL_DATABASE=woh
MYSQL_DATETIME_FORMAT="Y-m-d H:i:s"
GLOBAL_CONTENT_REGEXP="[]"
TAGS_WHITELIST='{"allowedTags": ["a", "p", "img"], "allowedAttributes": { "a": ["href"], "img": ["src", "alt", "title"]}}'
GAPI_KEY=AIzaSyDUJnAMzTk9A0M2jo33ORgDR3pwGSIrXkI
PARSER_HOST=localhost
PARSER_PORT=3001
UA_REFERER=https://yandex.ru
UA_STRING='Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:71.0) Gecko/20100101 Firefox/71.0'
